
  
<div class="curved-div">
    <h1>FOOD For MOOD</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci lorem, porttitor nec vulputate sit amet...
    </p>
    <svg viewBox="0 0 1440 319">
      <path fill="#111" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </div>


  <!-- FOOD IMAGE STARTS -->

  <section id="hero">
    <div class="container">
      <div class="info">
        <h1>This is a title</h1>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem vero ratione vitae dicta explicabo
          perferendis amet quis provident molestiae magni!</p>
        <a href="#">Click Me</a>
      </div>
    </div>
  </section>
  
  <!-- *******************   -->
  <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!--  This Code is for only the floating card in right bottom corner -->
  <!-- ********************  -->
  
  <div id="webCifar-sidebox">
    <div id="webCifar">
      <h2 class="logo">Web Cifar</h2>
      <p class="author">Coded By <span>Shaif Arfan</span> </p>
      <div class="items">
        <a href="https://www.youtube.com/channel/UCdxaLo9ALJgXgOUDURRPGiQ" target="_blank" class="item youtubeLink">
          <svg title="watch how we made this" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
          </svg>
          <p>Watch how we made this.
          </p>
        </a>
        <a href="https://webcifar.com" target="_blank" class="item">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
          </svg>
          <p>https://webcifar.com</p>
        </a>
  
      </div>
      <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    

  <!-- FOOD IMAGE ENDS -->
  
  
  <router-outlet></router-outlet>
  
  